.articles-main{
    background: var(--clr-surface);
    width: min(100% - 3rem, 100%);
    margin-inline: auto;
    position: relative;
}

.articles-flow > *{
    margin-top: 1em;
}

.searchbox{
    grid-area: searchbox;
}


.foryou{
    grid-area: foryou;
}

.article-cards-container{
    grid-area: articles;
}

.trending-container{
    grid-area: trending;
}

.searchbox{
    background: none;
    border: none;
    padding: .4rem .3rem;
    border-bottom: 1px solid var(--clr-secondary);
    max-width: 400px;
}

.searchbox::placeholder{
    color: var(--clr-secondary)
}

.article-cards-container > * + *{
    margin-top: 2em;
}


.trending-container > * + *{
    margin-top: 1em;
}

@media(min-width: 1024px){
    .articles-main{
        width: min(100% - 5rem, 100%);
        display: grid;
        place-content: center;
        gap: 1.5rem;
    }
}    

@media(min-width: 1500px){
    .articles-main{
        grid-template-rows: 70%, 30%;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: "searchbox ."
                            "foryou ."
                            "articles trending";
    }
}