.home-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem 1rem;
    background:  var(--sixty-color);
}

.home-h1{
    text-align: center;
}

.cards-container{
    max-width: 100dvw;
    padding: 1rem 1rem;
}

.article-card{
    display: grid;
    width: 230px;
    height: 350px;
    border-radius: 1rem;
    overflow: hidden;
    color: var(--sixty-color);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .3);
    position: relative;
}

.article-card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.article-card__info{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.article-card__gotobtn{
    background: var(--ten-color);
    border: none;
    border-radius: 1rem;
    padding: .4rem 1rem;
    color: white;
}

.join-container{
    display: grid;
    gap: 2rem;
}

.join-card{
    display: grid;
    background: var(--thirty-color);
    padding: 3rem 0 0 0;
    border-radius: 1rem;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    max-width: 400px;
}

.join-card__info{
    display: grid;
    gap: 1rem;
    background: var(--sixty-color);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1;
}

.join-card__join h2{
    font-size: 1.2rem;
}

.join-card__info > button{
    width: fit-content;
    justify-self: flex-end;
}

.floating-iconenvelope{
    position: absolute;
    color: rgb(90, 148, 255);
    font-size: 4rem;
    rotate: 20deg;
    top: .1rem;
    right: 2%;
}

.floating-iconcircle{
    background: rgb(90, 148, 255);
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    top: -2rem;
}

@media (min-width: 1024px){
    .article-card{
        width: 300px;
        height: 450px;
    }
    
    .join-container{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .join-card{
        max-width: 550px;
        padding: 4rem 0 0 0;
    }

    .join-card__info{
        padding: 1rem 2rem;
    }
}