.main-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 1rem;
    background:  var(--sixty-color);
}

.articles-cards-container{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    max-width: 80vw;
}

.article-card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10rem 0 0;
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 20px;
    color: white;
    background-size:cover;
    background-position: center;
    box-shadow: 0 0 15px 0 black;
    opacity: .8;
    transition: .3s all ease;

}

.article-card:hover{
    opacity: 1;
    filter: contrast(120%);
}

.article-card__info{
    padding: 2em .8em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1)
    )
}

.article-card__title{
}