.trending-writers{
    display: none;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;

    border: 1px solid rgba(255, 255, 255, 0.096);
    box-shadow: 0 0 15px 4px rgb(0, 0, 0, .6);
}

@media(min-width: 1500px){
    .trending-writers{
        display: grid;
    }
}