.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--sixty-color);
    padding: 1rem;
}

.logo{
    max-width: 140px;
}

.fausercircle{
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
}

.btns-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.login-btn{
    background: var(--ten-color);
    color: var(--sixty-color);
    padding: .4rem 1rem;
    border: none;
    border-radius: 20px;
}

.register-btn-mobile{
    display: none;
}

.register-btn{
    background: var(--ten-color);
    color: var(--sixty-color);
    padding: .4rem 1rem;
    border: none;
    border-radius: 20px;
}

.pages-list{
    display: none;
    gap: 1rem;
    text-transform: uppercase;
}

.page-navlink{
    text-decoration: none;
    font-weight: 700;
    position: relative;
    padding-bottom: 2px;
    color: black;
}

.page-navlink:hover{
    color: var(--ten-color);
}

.page-navlink::after{
    content: '';
    height: 3px;
    background: var(--ten-color);
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: .3s all ease;
}

.page-navlink:hover::after{
    width: 100%;
    left: 0;
}

.active{
    color: var(--ten-color);
}


@media (min-width: 1024px){
    
    .register-btn{
        display: block;
    }

    .pages-list{
        display: flex;
    }
}