.footer{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    background: var(--sixty-color);
    justify-content: center;
    align-items: center;
    padding: 2rem;


}

.socialmedia-container{
    display: flex;
    gap: 2rem;
    background: var(--thirty-color);
    padding: 1rem;
    border-radius: 20px;
}

.siinstagram,
.bstwitter,
.fagithub,
.bsfacebook,
.bslinkedin,
.bsyoutube{
    font-size: 2rem;
}

.bstwitter{
    font-size: 2rem;
}

.copyright-container{
    display: grid;
    place-items: center;
    gap: 1rem;
}

