:root{    
    --sixty-color: #fff;
    --thirty-color: #EBF2FF;
    --ten-color: #3753E1;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

::-webkit-scrollbar{
    width: .7rem;
}

::-webkit-scrollbar-track{
    background: var(--sixty-color);
}

::-webkit-scrollbar-thumb{
    background: var(--ten-color);   
    border: 2px solid var(--sixty-color);
    border-radius: 1rem;
}